{
    "presets": [
      "meteor", 
      "@babel/preset-react",
        ["@babel/preset-env", {
          "targets": {
              "browsers": ["last 2 versions", "ie >= 10"]
          },
          "modules": false
      }],
      "@babel/preset-stage-2"
    ]
  }